.product .container .imgs{
    width: 50%;
}

.product .container .imgs .bigone{
    width: 100%;
}

.product .container .imgs .smallcont{
    display: flex;
    justify-content: space-between;
}

.product .container .imgs .smallcont img{
    width: calc(25% - 10px);
    cursor: pointer;
}

.product .container .details h1{
    font-size: 50px;
    margin: 0 0 10px;
}

.product .container .details div.price{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: dimgrey;
}

.product .container .details input{
    width: 40px;
    height: 40px;
    border: 1px solid #7b5244;
    outline: none;
    text-align: center;
}

.product .container .details button{
    padding: 10px 20px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #7b5244;
    color: white;
    cursor: pointer;
}

.product .container .details h2{
    margin:20px 0;
}

.product .container .details p{
    line-height: 2;
}
.product .container .details{
    width: 50%;
    padding: 20px;
    margin: auto;
}

.product .container{
    display: flex;
    flex-wrap: wrap;
}


@media (max-width:992px) {
    .product .container{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .product .container .details{
        width: 100%;
    }

    .product .container .imgs{
        width: 100%;
    }

    footer{
        position: relative !important;
        bottom: 0 !important;
        left: 0 !important;
        width: 100% !important;
        transform: translateX(0) !important;
        -webkit-transform: translateX(0) !important;
        -moz-transform: translateX(0) !important;
        -ms-transform: translateX(0) !important;
        -o-transform: translateX(0) !important;
}
}

footer{
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
}